body {
    font-family: Arial, sans-serif;
    background-color: #b383ad;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #94447e;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #94447e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}
