body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    background-color: #b383ad;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    color: #333;
    margin-top: 50px;
}

p {
    color: #555;
    margin: 20px 0;
    text-align: center; 
}

a {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #94447e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s;
}

a:hover {
    background-color: #94447e;
}